html,body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    
}
.d-flex{
    display:flex;
}
header{
    color: #f0f0f0;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background: rgba(231,189,116,.8);
    padding: 1rem;
    font-weight: 600;
}
.nav-btn{
    margin: 1rem;
    background: transparent;
    border: none;
    color: #e6c383;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-weight: 500;
    transition: transform 0.3s;
}
.blue{
    color: #374272;
}
.blue:hover{
    /* border-bottom: solid 2px #e6c383; */

}
.nav-btn:hover{
    transform: translateY(-20%);
}
button:hover{
    cursor: pointer;
}
.center{
    justify-content: center;
    align-content: center;
}
.page-conatiner{
    position: relative;
    min-height: 100vh;
}
.content{
    background-image:url("cappucino.jpg");
    height:600px;
    background-size: cover;
    background-position: 50% 50%;
    
    padding-bottom: 2.5rem;
    
}
i{
    color: #374272;
    font-size: 2rem;
    margin-right: 1rem;
    transition: transform 0.3s;

}
i:hover{
    cursor: pointer;
    transform: translateY(-20%);

}
    footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    margin-bottom: 2.4rem;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: center;
}